@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-primary-background: #000000;
    --color-surface: #1A1D22;
    --color-mid: #282E36;
    --color-tile: #353D49;
    --color-raised: #5B6470;
    --color-primary: #8859FF;
    --color-secondary: #4E3291;
    --color-heading: #F2EDFF;
    --color-text: #CAC9D1;
    --color-dull-text: #94949C;
    --color-success: #3CCB69;
    --color-alert: #FF9757;
    --color-destructive: #EB3F56;
}

* {
    font-family: 'Manrope', sans-serif;    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1;
}

html, body {
    height: 100%; /* Ensures the body is full height */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
    background-color: var(--color-primary-background);
    height: 100%; /* Set body height to full screen */
}

.surface {
    background-color: var(--color-surface);
}

.tile {
    background-color: var(--color-tile);
}

.surface.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    width: 55%;
    margin-right: 20px;
    border-radius: 16px;
}

.search-results {
    flex-grow: 1;
    overflow-y: auto;
}

input.search {
    width: 100%;
    padding: 14px 18px 14px 18px;
    font-size: 18px;
    border-radius: 1000px;
    border: none;
    color: var(--color-heading);
    transition: border 0.1s, box-shadow 0.3s ease-in-out;
    margin-bottom: 10px;
}

input.search::placeholder {
    color: var(--color-dull-text);
}

input.search:focus {
    box-shadow: 0px 0px 8px var(--color-primary);
    outline: none;
    border: 1px solid var(--color-primary);
}

.search-item {
    display: flex;
    align-items: center;
    padding: 10px 18px 10px 18px;
    cursor: pointer;
    border-radius: 16px;
    background-color: var(--color-mid);
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
    width: 99%;
}

.search-item .name {
    color: var(--color-heading);
    font-size: 18px;
    margin-right: 20px;
}

.search-item .artist {
    color: var(--color-dull-text);
    font-size: 16px;
}

.search-item:hover .name {
    color: var(--color-heading);
}

.search-item:hover {
    border: 1px solid var(--color-primary);
}

.container.right {
    width: 45%;
    height: 100%;
}

.now-playing {
    margin-bottom: 20px;
    height: 25%;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;  /* Ensure it fits within the container */
    max-width: 100%;  /* Prevent it from expanding beyond container width */
    box-sizing: border-box;  /* Include padding in width calculations */
    overflow: hidden;  /* Prevent any content from spilling outside */
}


.now-playing .song-name {
    color: var(--color-heading);
    font-size: 24px;
    margin-bottom: 10px;
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;     /* Hide any overflow */
    text-overflow: ellipsis;  /* Display "..." when the text is too long */
    width: 100%;  /* Ensure it fits within the container */
    max-width: 100%;  /* Prevent it from expanding beyond container width */
    overflow: hidden;  /* Prevent any content from spilling outside */
    padding-bottom: 3px;
}

.now-playing .song-artist {
    color: var(--color-dull-text);
    font-size: 16px;
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;     /* Hide any overflow */
    text-overflow: ellipsis;  /* Display "..." when the text is too long */
    width: 100%;  /* Ensure it fits within the container */
    max-width: 100%;  /* Prevent it from expanding beyond container width */
    overflow: hidden;  /* Prevent any content from spilling outside */
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.now-playing .buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.now-playing .buttons button {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-heading);
    font-size: 20px;
    border: 1px solid var(--color-heading);
    box-shadow: 0px 0px 8px var(--color-heading);
}

.now-playing .buttons button:hover {
    background-color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-heading);
}

::-webkit-scrollbar {
    width: 6px;
    margin-right: 3px;
}
  
::-webkit-scrollbar-track {
    background: var(--color-mid);
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 12px;
}

.now-playing input[type="range"] {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: var(--color-tile); /* Base color */
    outline: none;
    appearance: none;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, var(--color-heading) 0%, var(--color-heading) 0%, var(--color-tile) 0%);
  }
  
  .now-playing input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0)
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }
  
  .now-playing input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .now-playing input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  .now-playing input[type="range"]::-moz-range-track {
    background: transparent;
  }
  
